@import "bootstrap/scss/_functions.scss";
@import "bootstrap/scss/_variables.scss";
@import "bootstrap/scss/_mixins.scss";

$white: #ffffff;
$primary-color: #ff4d4e;
$secondary-color: #f78f2d;
$tertiary-color: #fff000;
$quaternary-color: #2ad575;
$quinary-color: #66dccc;
$senary-color: #3b86ff;
$septenary-color: #262262;
$octonary-color: #ff376e;
$nonary-color: #cb84f0;

$text-color-black: #000000;
$text-color-white: #ffffff;

$font-capriola: "Capriola", sans-serif;
$font-nunito: "Nunito", sans-serif;
$font-avenir: "Avenir", "Capriola", sans-serif;

$font-400: 400;
$font-900: 900;